.desktop {
    display: none;
}

.tablet{
    display: none;
}




@media (min-width: 768px) {

    .mobile {
        display: none;
    }
    .tablet {
        display: block;
    }

    nav a {
        display: inline-block;
    }
    
    

}

@media (min-width: 1024px) {

    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .tablet {
        display: none;
    }
    header {
        background-color: #ffde59;
        margin-left: 50px;
        border-radius: 10px;
        float: left;
    }

    #logo {
        width: 100px;
        height: 100px;
    }

    nav {
        text-align: center;
        margin: 30px;
        padding: 10px;
        background-color: #ffde59;
        border-radius: 10px;
        float: right;
        font-family: "Kdam Thmor Pro", sans-serif;
    }
    
    nav a {
        color:black;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
    
    }
    
    nav a:hover {
        background-color: #ff3131;
        color: #ffde59;
    }

    
}
