form {
    width: 50%;
    margin: auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* ensures padding and border are included in the width */
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"],
button[type="reset"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #45a049;
}

button[type="submit"]:focus,
button[type="reset"]:focus {
    outline: none;
}

footer {
    margin-top: 20px;
    text-align: center;
}
